/*----------------------- CSS Description-----------------------------
    Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5rem;
    color: white;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://raw.githubusercontent.com/lasjorg/fcc-form-example-image/master/67103817-7c51e200-f18b-11e9-975f-f74561336a9a-lj.jpg);
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
}
.container {
    display: block;
}
header {
    text-shadow: 1px 1px 2px black;
}
#title {
    margin: 3.5rem auto 0.5rem auto;
}

#survey-form {
    box-sizing: content-box;
    background-color: rgb(36, 36, 68, 0.8);
    border-radius: 1rem;
    margin: 2rem auto 0 auto;
    padding: 2rem;
    font-size: 1.2rem;
}
.form-group {
    display: block;
    max-width: border-box;
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}
.form-check {
    margin-bottom: 0.5rem;
}

.btn {
    display: block;
    background: #37af65;
    border-radius: 0.25rem;
    font-size: 1.2rem;
}
