/*----------------------- CSS Description---------------------------
    Info: 1rem === 12px, 1.5rem === 18px, 2rem === 24px and so forth
*/
:root{
    --background-color: #EEEEEE;
    --customise-yellow: #FF8C00;
    --customise-grey: #e0e0e0;
    --link-color: black;
    --footer-color: #bdbdbd;
}

body {
    font-family: 'Lato', sans-serif !important;
    font-size: 12px;
    line-height: 1.2rem;
    background-color: var(--background-color) !important;
}

.container {
    max-width: 1000px;
}
/*--------------------- Header ---------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 0 2rem;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    max-width: 500px;
}

.nav {
    max-width: 60vw;
    display: flex;
    justify-content: space-around;
    float: right;
}

#main-header {
    margin-top: 8rem;
    padding: 2.5rem auto;
}
/*--------------------- ===== ---------------------*/

/*--------------------- Singing Form ---------------------*/

#form {
    width: border-box;
    display: block;
    padding: 2rem auto;
    margin: auto 1.5rem;
}

.btn {
    background: var(--customise-yellow);
    border-radius: 0.25rem;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}
/*--------------------- ===== ---------------------*/

/*--------------------- Features ---------------------*/
#advantage {
    display: flex;
    flex-wrap: nowrap !important;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    width: 70vw;
    padding: 1rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    color: var(--customise-yellow);
    font-size: 3rem;
}

/*--------------------- ===== ---------------------*/

/*--------------------- How It Works ---------------------*/

#how_it_works {
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    max-width: 40vw;
    width: 100%;
    margin: 2rem;
}

/*--------------------- ===== ---------------------*/
/*--------------------- Pricing ---------------------*/

#pricing {
    padding: 2rem;
    margin: 1rem;
}

.card-title {
    font-size: 1.6rem;
    font-weight: 900;
}

.card-header {
    background-color: var(--customise-grey);
    font-weight: 800;
    letter-spacing: 2px;
}

#card-price {
    background-color: var(--background-color);
}

.card-text {
    font-size: 1rem;
    line-height: 1.4rem;
}
/*--------------------- ===== ---------------------*/

/*--------------------- Footer ---------------------*/
#footer-container{
    background: var(--footer-color);
    font-size: 1rem;
    line-height: 1.7rem;
    padding: 0.5rem;
}
 a {
     color: var(--link-color);
     margin: 1rem;
     text-align: end;
     font-size: 1.1rem;
 }

 #footer-text {
     margin-right: 1rem;
 }



/*--------------------- Adaptive ---------------------*/



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .description {
        padding: 1.5rem;
    }
    .logo {
        width: 80vw;
    }
    h1{
        padding: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 785.98px) {
    header {
        flex-direction: column;
    }
    .logo {
        order: 0;
        width: 80vw;
        justify-content: space-around;
        padding: 1rem;
    }

    nav {
        order: 1;
        justify-content: center;
    }
    a {
        margin: 0 auto;
    }
    h1 {
        justify-content: center;
        padding: 1.5rem;
    }

    #video {
        max-width: 100%;
    }
}
